h2 {font-size: 30px;}

input:valid {
    background-color: lightgreen;
}

input:invalid {
    background-color: lightpink;
}

input[type="text"] {
    width: 50%;
    padding: 10px; /* Justeret padding til at give mere plads */
    margin: 10px;

    box-sizing: border-box; /* Inkluder padding og border i bredden */
    display: block;
}

input[type="Tel"] {
    width: 50%;
    padding: 10px; /* Justeret padding til at give mere plads */
    margin: 10px;

    box-sizing: border-box; /* Inkluder padding og border i bredden */
    display: block;
}

input[type="Email"] {
    width: 50%;
    padding: 10px; /* Justeret padding til at give mere plads */
    margin: 10px;

    box-sizing: border-box; /* Inkluder padding og border i bredden */
    display: block;
}


body{
    background-color: rgb(229, 229, 229);
}

button {
    /* Size and Positioning */
    padding: 10px 20px; /* vertical and horizontal padding */
    font-size: 20px; /* font size */
    font-family: Arial, sans-serif; /* font family */
    text-align: center; /* center text */
    margin: 10px;
    width: 50%;
    background-color: green;
}

button:hover{ 
        background-color: #2980b9; /* darker background on hover */
        border-color: #2980b9; /* change border color on hover */
        transform: scale(1.05); /* slightly enlarge button */
}

textarea {
    /* Størrelse og plassering */
    width: 49.25%; /* Gjør at textarea tar opp 100% av containerens bredde */
    height: 100px; /* Høyde på textarea */
    padding: 5px; /* Innsiden av textarea (luft rundt innholdet) */
    display: block;
    margin: 10px;
    
}

::placeholder {
    color: black;
}

